<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/wwwroot/css/azaloid.css">

</head>
<body class="align">
    <div class="container">
        <div class="image-overlay">
            <img src="https://uploads-ssl.webflow.com/5d0ecc16e9f177c0abee712f/5d37c97291bed05fe6961f28_ezgif-2-38f0569c6d52.gif" alt="Background Image">
        </div>
        <div class="login">
            <header class="login__header">
                <h2>
                    <svg class="icon">
                        <use xlink:href="#icon-pencil" />
                    </svg>
                    Azaloid
                </h2>
            </header>
            <form action="#" class="login__form" method="POST">
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="email" id="email" name="nombre" placeholder="Ingresa tu nombre">
                </div>
                <div>
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="mail@address.com">
                </div>
                <div>
                    <label for="telefono">Telefono</label>
                    <input type="email" id="email" name="telefono" placeholder="+5XXXXXXXXXX">
                </div>
                <div class="descripcion">
                    <label for="descripcion">Descripcion</label>
                    <textarea id="descripcion" name="descripcion" rows="6" cols="50" placeholder="ingresa tu pqrs aqui"></textarea>

                </div>
                <div>
                    <input class="button" type="submit" value="Enviar PQRS">
                </div>
            </form>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="icons">
        <symbol id="icon-pencil" viewBox="0 0 512 512">
            <path d="M351.68 64.293l95.037 95.037-287.044 287.043H64v-95.037L351.68 64.293zM461.312 25.376c-10.663-10.665-28.01-10.665-38.677 0l-44.837 44.837 95.037 95.037 44.837-44.837c10.667-10.665 10.667-28.01 0-38.675zM131.541 394.207c-4.881 4.88-12.797 4.88-17.678 0L58.883 338.76l287.043-287.043 95.037 95.037L131.541 394.207z" />
        </symbol>
    </svg>
</body>
</html>
